html {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__line {
    position: absloute;
    height: 50px;
}

.footer {
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: #000000;
  background-color: #ffffff;
}

.footer-button {
  font-weight: 700;
  height: 3rem;
  text-transform: uppercase;
  margin: 0.25rem;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
