html {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  max-width: calc(100vw - 2rem);
  max-height: 100vh;
}

#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 1rem;
  height: 28px;
  width: 100%;
  max-width: calc(100vw - 2rem);
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.1rem 0.1rem grey;
  border-radius: 0 0 1rem 1rem;
}

h1.mainPage__header {
  font-size: 2.8rem;
}

.logo__span {
  font-size: 2rem;
  font-weight: 800;
}

.t-letter,
.last_mark_sign {
  color: #0077ff;
}

.header__line {
  margin: 1rem;
}

.burger__menu {
  margin-top: 2rem;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger__menu:nth-child(1n + 1) {
  margin-top: calc(1rem / 5);
}

.burger_menu_line {
  width: 100%;
  background-color: #000000;
  height: calc(1rem / 3);
  margin-top: calc(1rem / 5);
}

main {
  flex: 1 0 auto;
  padding: 1rem;
}

footer {
  min-width: 100%;
  max-width: calc(100vw - 1rem);
  margin: 0;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: #000000;
  background-color: #dadada;
}

.footer-button {
  font-weight: 700;
  font-size: 1.5rem;
  height: 5rem;
  text-transform: uppercase;
  margin: 0.25rem;
  margin-bottom: 3rem;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 0.73rem;
}

.footer-button:hover {
  background-color: #0077ff;
  color: #000000;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__weekdays__weekday--current,
.react-calendar__month-view__weekdays__weekday--weekend {
  text-align: center;
}
