button.react-calendar__navigation__arrow {
  display: none;
}

button.react-calendar__navigation__label {
  width: 100%;
}

button.react-calendar__month-view__days__day {
  border: 1px solid grey;
}

button.react-calendar__tile--active {
  border: 2px solid #ff7700;
}

button.react-calendar__tile--now {
  background-color: #0077ff;
}

button.react-calendar__month-view__days__day--neighboringMonth {
  border: none;
}

.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__weekdays__weekday--current,
.react-calendar__month-view__weekdays__weekday--weekend {
  text-align: center;
}

.daily_card_stats {
  display: flex;
  flex-direction: column;
}

.daily_card_stats > .statsRow {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 100%;
}

.daily_card_edit_link {
  display: block;
  width: 100%;
  text-align: right;
  cursor: pointer;
}

.editor__popup {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
